html, body {
    margin: 0;
    padding: 0;
    height: 100%
    width: 100%;
}

.background{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("/succulent.jpg") no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}

.inner{
	margin: 50px auto;
	background: rgba(220, 225, 220, 0.9);
	max-width: 900px;
	min-width: 900px;
}

.container{
	padding: 10px 50px;
	margin: 0;
	text-align: left;
}

h1 {
	padding: 20px;
	margin: 0;
    	font-size: 3em;
    	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: 	#004144;
	text-shadow: 1px 1px #006756;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px 50px;
    list-style: none;
    font-weight: bold;
	color: 	#5B5D69;
	display: table-cell;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
	color: 	#5B5D69;
}
a {
    text-decoration: none;
    color: 	#494968;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
